
body{
    background-color: darkgreen;
}
table{
    width: 1000px;

    margin-left: auto;
    margin-right: auto;
    background-color: palegreen;
}
td{
    text-align: left;
    vertical-align: top;
}
h2{
    color: darkgreen;
}
img {
    display: block;
    margin: auto;
    border: 1px solid #000000;
  }
  hr{
    width: 50%;
  }